body{
  background: #132235;
  font-size: 30px;
}

header{
  background: #132235;
  padding: 20px 0;
  }

.caixa{
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 90px;
  right: 0;
}

nav li{
  display: inline;
  margin: 0 0 0 30px;
}

nav a{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: cyan;
  
}

p {
  color: #132235;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.titulo-contato{
  color: #6ddad3;
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.sobreNos {
  background-color: #6ddad3;
  text-align: center;
  font-size: 25px;
  padding: 2em;
}

.sobreNos p{
  margin: 0 0 1em;
}

.contato {
  background-color: #132235;
  font-size: 25px;
  padding: 2em;
}

form{
  padding: auto;
  margin: 40px auto;
  color: #6ddad3;
}

form label {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

form input, form textarea{
  display: block;
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 15%;
}

.enviar{
  width: 5%;
  background: #132235;
  color: #6ddad3;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-color: #6ddad3;
}

.redes{
  background-color: #6ddad3;
  text-align: center;
  font-size: 25px;
  padding: 2em;
}

.lista-imagens{
  display: flexbox;
}

.redes-img{
display: inline-block;
width: 75px;
padding: 20px;
}

footer{
  text-align: center;
  background: #132235;
  color: #FFFFFF;
}

.img-footer{
  width: 200px;
}

@media screen and (max-width:480px){
.caixa, .titulo-principal, .sobreNos, .contato, .redes{
    width: auto;
  }


  nav{
    text-align: center;
  }
}